<main>
    <section class="hero">
        <h1>Welcome to CSE Motors!</h1>
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car">
        <div id="callToActionBox">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a class="callToActionButton" href="#">Own Today</a>
        </div>
    </section>

    <section class="dUpgrades">
        <h2>Delorean Upgrades</h2>
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <figcaption>
                <a class="dUpgradesLink" href="#">Flux Capacitor</a>
            </figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            <figcaption>
                <a class="dUpgradesLink" href="#">Flame Decals</a>
            </figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            <figcaption>
                <a class="dUpgradesLink" href="#">Bumper Sticker</a>
            </figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <figcaption>
                <a class="dUpgradesLink" href="#">Hub Caps</a>
            </figcaption>
        </figure>
    </section>

    <section class="dReviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li class="opinion">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="opinion">"Coolest ride on the road." (4/5)</li>
            <li class="opinion">"I'm feeling McFly" (5/5)</li>
            <li class="opinion">"80s livin and I love it" (5/5)</li>
        </ul>
    </section>
</main>