/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/************* Global Styles *******************/
:root {
  --background-color-1: white;
  --background-color-2: rgb(66, 66, 66);
  --text-color-1: black;
  --text-color-2: white;
  --hover-color: #00BFEF;
}

/************* Header *******************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem; /*chech this line in larger screen, viewport might be affected*/
}

.siteName a, #tools a {
  text-decoration: none;
  color: var(--text-color);
}

.siteName {
  font-weight: 700;
  font-size: 2.5rem;
}

/************* Navigation *******************/
.navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: var(--background-color-2);
  color: var(--text-color-2);
  padding: 1rem;
  margin: 0;
}


/************* Body (Main) *******************/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-weight: 700;
  color: var(--text-color);
}


/************* Footer *******************/



/************* Media Query (for larger screens) *******************/