/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/************* Header *******************/



/************* Navigator *******************/



/************* Body (Main) *******************/



/************* Footer *******************/



/************* Media Query (for larger screens) *******************/