/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/************* Global Styles *******************/
:root {
  --background-color-1: white;
  --background-color-2: rgb(66, 66, 66);
  --text-color-1: black;
  --text-color-2: white;
  --hover-color: #00BFEF;
}

/************* Header *******************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem; /*chech this line in larger screen, viewport might be affected*/
}

.siteName a, #tools a {
  text-decoration: none;
  color: var(--text-color);
}

.siteName {
  font-weight: 700;
  font-size: 2.5rem;
}

/************* Navigation *******************/
.navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: var(--background-color-2);
  color: var(--text-color-2);
  padding: 1rem;
  margin: 0;
}

.navigation a:link, .navigation a:visited {
  color: var(--text-color-1);
  text-decoration: none;
}


/************* Body (Main) *******************/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-weight: 700;
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
}


/*Hero*/
.hero {
  order: -1;
  position: relative;
  min-height: 22rem;
}

.hero img {
  position: absolute;
}

/*Call to Action Box*/
#callToActionBox {
  display: flex;
  flex-direction: column;
  color: var(--text-color-1);
  background-color: rgb(221, 212, 212);
  max-width: 200px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  }

#callToActionBox > h2, #callToActionBox > p {
  line-height: 0;
}

.callToActionButton {
  color: var(--text-color-1);
  background-color: var(--hover-color);
  font-weight: 700;
  text-decoration: none;
  max-width: 70%;
  text-align: center;
  padding: 0.5rem;
}

/*Upgrades*/
.dUpgrades{
  order: 1;
}

#dUpgradesCards {
display: grid;
grid-template-columns: 1fr 1fr;
}

.dUpgradesCard>img {
  background-color: var(--hover-color);
  padding: 2rem;
  border: 0.2rem solid var(--background-color-2);
}

/*Reviews*/
.dReviews {
order: 0;
}

.opinion {
  padding: 0.5rem;
}

/************* Inventory Display *******************/
#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style-type: none;
}

#inv-display a{
  text-decoration: none;
}

#inv-display a:link, #inv-display a:visited {
  color: var(--text-color-1);
}

.item {
  border: 3px solid;
  border-radius: 5px;
  color: gray;
}

/************* Vehicle Display *******************/

.vehicleCard img, .vehicleCardContent {
  padding: 1rem;
  width: 100%;
}

/************* Footer *******************/
.copyright {
  display: flex;
  justify-content: flex-start;
}

footer a{
  text-decoration: none;
}

footer a:link, footer a:visited {
  color: var(--text-color-1);
}


/************* Media Query (for larger screens) *******************/
@media screen and (min-width: 950px) {
  body {
    background-image: url("/images/site/checkerboard.jpg")
  }

  #wrapper {
    margin: 0 auto;
    background-color: var(--background-color-1);
    max-width: 60%;
    height: auto;
    padding: 1rem;
  }

  .hero img {
    left: 50%;
    transform: translate(-50%);
  }

  .hero {
    max-width: 80%;
    margin: auto;
  }

  .hero, .dUpgrades, .dReviews {
    order: 0;
  }

  .largerOrder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /************* Vehicle Display *******************/

.vehicleCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}