<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<section class="formConteiner">
<form action="/inv/add-classification" method="post">
    <label for="classification_name">Add classification name</label>
    <input type="text" id="classification_name" placeholder="Type the classification name" name="classification_name" required>
    <span>The new classification name cannot contain a space or special character of any kind</span> 
    <button type="submit">Add New Classification</button>
</form>
</section>