<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="message warning">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div>
  <a href="/inv/add-classification" title="Click to add a new vehicle classification">Add New Classification</a>
  <a href="/inv/add-inventory" title="Click to add a new vehicle">Add New Inventory</a>
</div>